/*-----------*/
/*Details*/
/*-----------*/
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__wrapper{
	width: 95%;
	max-width: 1023px;
	margin: 0 auto;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__text{
	font-size: 1.4rem;
	font-weight: bold;
}
/*-----------*/
/*Header*/
/*-----------*/
#hd{
	width: 100%;
	font-family: 'Simply Cricket Demi';
}
#hd section{
	width: 100%;
} 
/*-----------*/
/*Header Top*/
/*-----------*/
.hd__top, .hd__moreLinks{
	background: var(--background-secondary);
}
.hd__top .hd__wrapper,
.hd__main .hd__wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hd__top .hd__wrapper{
	align-items: center;
	font-weight: bold;
	height: 50px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__top-createAccount, .hd__moreLinks-link{
	color: var(--font-color-secondary);
	text-decoration: none;
	font-size: 1.2rem;
	line-height: 17px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__top-createAccount{
	display: flex;
	align-items: center;
	line-height: 50px;
	padding: 0 15px;
	position: relative;
	left: -15px;
}
.hd__top-createAccount i{
	margin-right: 5px;
}

.hd__moreLinks{
	display: flex;
	list-style: none;
	position: relative;
	right: -25px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__moreLinks-link{
	display: flex;
	line-height: 50px;
	padding: 0 23px;
	background: transparent;
	align-items: center;
}
.hd__moreLinks-link > img{
	margin-right: 5px; 
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__moreLinks-link:hover, .hd__top-createAccount:hover{
	background: var(--details-gray);
}
/*-----------*/
/*Header Main*/
/*-----------*/
#hd__btnMenu{
	display: none;
}
.hd__main{
	position: relative;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__main .hd__wrapper{
	height: 80px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
#hd__logo{
	height: 41px;
  width: 183px;
  background: url(https://www.cricketwireless.com/uiassets/logo_cricket-green.png) 0 0 no-repeat;
  background-size: contain;
}
#hd__menu{
	display: flex;
	list-style: none
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
#hd__menu > li{
	padding-top: 15px;
	margin-left: 45px;
}
.hd__createAccount-main{
	display: none !important;
}
.hd__menu-link{
	text-decoration: none;
	color: var(--font-color-primary);
	font-size: 1.7rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
#hd__menu li > .hd__menu-link{
	padding-bottom: 15px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__menu-link i{
	margin-left: 5px;
	font-size: 2rem;
}

.hd__menu-itemImage span{
	display: none;
}
.hd__menu-itemImage{
	  display: inline-block !important;
    position: relative;
    padding-left: 128px;
    padding-bottom: 6px;
    width: 100%;
    height: 27px;
	  background: url(https://www.cricketwireless.com/uiassets/bg_header-nav-cricket.png) no-repeat;
}
.hd__subMenu, #hd__moreLinks-main{
	display: none;
}
.hd__subMenu{
	background: var(--background-primary);
	list-style: none;
	font-family: "Simply Cricket Book";
}
.hd__menu-itemImage-active{
	background: url(https://www.cricketwireless.com/uiassets/bg_header-nav-cricket_hover.png) no-repeat !important;
}
.openSubMenu{
	color: var(--details-blue) !important;
}
.openSubMenu ~ .hd__subMenu{
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 100;
	height: 41.5px;
	border-top: 1px solid #dddddd;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__subMenu li{
	margin: 0 30px;
}
.hd__subMenu-link{
	text-decoration: none;
	color: var(--font-color-primary);
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 20px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__subMenu-link{
	text-decoration: none;
}
.hd__subMenu-link:hover{
	color: var(--details-blue);
}
/*-----------*/
/*Header Message*/
/*-----------*/
.hd__message{
	background: var(--details-green-dark);
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__message .hd__text{
	padding: 14px 0 14.5px;
	text-align: center;
	color: var(--font-color-secondary) !important;
	line-height: 13px;
}
.hd__message a{
	color: var(--font-color-secondary);
	line-height: 13px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__message a:hover{
	text-decoration: none;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
#hd__modal{
	display: none;
	position: fixed;
	z-index: 10000;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background: #00000063;
	justify-content: center;
	padding-top: 100px;
}

.open_modal{
	display: flex !important;
	animation-duration: .3s;
  	animation-name: OpenModal;
}
.close_modal{
	display: flex !important;
	animation-duration: .3s;
  	animation-name: CloseModal;
}
@keyframes OpenModal {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes CloseModal {
  0% {
  	opacity: 1;
  	display: flex !important;
  }
  100% { 
  	opacity: 0;
  	display: none !important;
  }
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__modal-container{
	position: relative;
	width: 90%;
	max-width: 600px;
	background: #fff;
	padding: 26px 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 285px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__modal-container > p{
	font-size: 14px;
	margin: 0 0 10px;
    font-family: 'Simply Cricket Book', Helvetica, Arial, sans-serif;
    line-height: 20px;
}
.hd__modal-container > p span{
	font-family: "Simply Cricket Demi", Helvetica, Arial, sans-serif;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__modal-container > h2{
	font-size: 24px;
    margin-top: 0;
    font-weight: normal;
    display: block;
    font-family: 'Simply Cricket Demi', Helvetica, Arial, sans-serif;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}
#hd__closeModal{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 3rem;
	color: #1879b78c;
}
#hd__closeModal:hover{
	color: #1879B7;
}
.hd__link{
	text-decoration: underline;
}


/*-----------*/
/*Header Categories*/
/*-----------*/
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__categories{
	background: var(--details-green-ligth);
	padding: 2px 0;
}
.hd__categories .hd__wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	padding: 9.5px 15px;
}
.hd__categories-item{
	background: var(--background-primary);
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 9px 15px;
	color: var(--details-blue);
	text-decoration: none;
	position: relative;
	font-size: 14px;
    line-height: 20px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__categories-item:hover{
	background: #eeeeee;
}
.hd__categories-item .hd__text{
	font-size: 1.5rem;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__categories-item > img{
	margin-right: 15px;
	height: 37.2px;
}
/*Cambios*/
/*Cambios*/
/*Cambios*/
.hd__categories-item  > i{
	position: absolute;
	right: 15px;
	font-size: 2rem;
}


@media screen and (max-width: 860px) {
	/*-----------*/
	/*Header Top*/
	/*-----------*/
	.hd__top{
		height: 10px;
	}
	.hd__top *{
		display: none;
	}
	/*-----------*/
	/*Header Main*/
	/*-----------*/
	#hd__logo{
		width: 145px;	 
	}
	#hd__btnMenu{
		display: block;
		font-size: 3.5rem;
	}
	#hd__menu{
		display: none;
		flex-flow: column;	
		position: absolute;
		z-index: 10000;
		top: 100%;
		right: 0;
		width: 250px;
		background: var(--details-gray);
		height: calc(100vh - 100%);
		box-shadow: 0 12px 12px #000;
		transition: .3s;
		transition-property: width;
		overflow-y: scroll !important;
	}
	/*animations*/
	.openMenu{
		display: flex !important;
		transition: .9s !important;
	}
	.mask:before{
		content: '';
		position: absolute;
		z-index: 1000;
		top: 100%;
		left: 0;
		right: 0;
		height: calc(100vh - 100%);
		background: rgba(0, 0, 0, .5);
	}
	/*animations*/	

	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	#hd__menu > li{
		margin-left: 0;
		width: 250px;
		padding-top: 0;
		border-bottom: 1px solid #dddddd;
	}
	#hd__menu li > .hd__menu-link{
		padding-bottom: 25px;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	.hd__createAccount-main{
		display: block !important;
	}
	.hd__createAccount-main span{
		display: block;
	}
	.hd__top-createAccount{
		background: #eeeeee;
		flex-flow: row-reverse;
		justify-content: space-between;
		left: 0;
		color: var(--details-blue); 
		border: 2px solid var(--details-blue); 
		border-radius: 5px;
		font-size: 1.6rem;
		white-space: nowrap;
		line-height: 2.5rem;
		padding: 16px 25px ;
	}
	.hd__top-createAccount i{
		margin-right: 0;
		font-size: 2.3rem;
	}
	.hd__top-createAccount:hover{
		background: #eeeeee;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	.hd__menu-link{
		display: flex;
		position: relative;
		z-index: 20000;
		padding: 25px 25px 16px;
		justify-content: space-between;
		white-space: nowrap;		
		background: var(--background-primary);
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	.hd__menu-link i{
		transform: rotateZ(-90deg);
		transition: .6s;
		color: var(--details-blue);
	}
	.hd__menu-link-select{
		color: var(--details-blue);
	}
	.hd__menu-link-select i{
		transform: rotateZ(0);
	}
	#hd__moreLinks-main{
		display: block;
	}
	.hd__moreLinks{
		background: var(--details-gray);
		flex-flow: column;
		left: 0;
	}
	.hd__moreLinks li{
		margin-left: 0 !important;
	}
	.hd__moreLinks-link{
		font-size: 1.6rem;
    font-weight: bold;
    line-height: initial;
		white-space: nowrap;		
		padding: 25px 25px 16px;
    margin: 0;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	.hd__subMenu{
		display: none;
		flex-flow: column;
		position: relative;
		top: 0;
		left: 0;
		padding: 0 !important;
		border-top: none;
		transition: .6s;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	.hd__menu-itemImage{
		display: flex !important;
    position: relative;
    padding: 25px 25px 16px;
    width: initial;
    height: auto;
    background: #fff !important;
	}
	.hd__menu-itemImage span{
		display: block;
	}
	/*animations*/
	.openSubMenu{
		display: flex !important;
	}
	/*animations*/
	.hd__subMenu li{
		margin-left: 0 !important;
	}
	.hd__subMenu-link{
		padding: 10px 25px;
		display: block;
	}
	/*-----------*/
	/*Header Message*/
	/*-----------*/
	.hd__message .hd__text{
		padding: 15px 0;
		font-size: 1rem;
	}
	/*-----------*/
	/*Header Categories*/
	/*-----------*/
	.hd__categories{
		background: var(--background-primary);
	}
	.hd__categories-item i{
		display: none;
	}
	.hd__categories-item{
		flex-flow: column;
		padding: 0;
	}
	.hd__categories-item .hd__text{
		margin-top: 3px;
	}
	.hd__text-hide{
		display: none;
	}
	.hd__categories-item > img{
		margin-right: 0;
		transform: scale(.8);
	}
	.hd__categories-item .hd__text{
		font-size: 1.3rem !important;
	}
	.hd__categories .hd__wrapper{
		padding: 10px 0;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	#hd__modal{
		padding-top: 100px;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
}

@media screen and (max-width: 600px) {
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	#hd__modal{
		display: none;
		position: fixed;
		z-index: 10000;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		background: transparent;
		transition: .6s;
		transition-property: width;
		padding-top: 0;
	}
	.open_modal ~ .hd__wrapper:before{
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #00000094;
		z-index: 1;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	.open_modal{
		display: block !important;
		transition: .6s !important;
		transition-property: width !important;
	}
	.hd__modal-container{
		background: #fff;
		height: 100vh;
		padding: 26px 30px;
    	border-radius: 30px;
    	position: relative;
    	width: auto;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	.hd__modal-container > p{
		font-size: 14px;
	    font-family: 'Simply Cricket Book', Helvetica, Arial, sans-serif;
	    font-weight: 100;
	    line-height: 1.5;
	    max-height: 400px;
	    overflow-y: auto;
	}
	.hd__modal-container > h2{
		width: 70%;
		font-size: 2.4rem;
	    font-weight: normal;
	    font-family: 'Simply Cricket Demi', Helvetica, Arial, sans-serif;
	    margin-right: 0;
	    margin-bottom: 20px;
	    line-height: 1;
	}
	/*Cambios*/
	/*Cambios*/
	/*Cambios*/
	#hd__closeModal{
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 3rem;
		color: #1879b78c;
	}
	#hd__closeModal:hover{
		color: #1879B7;
	}
}