/*-----------*/
/*Details*/
/*-----------*/
.hd__wrapper{
	width: 95%;
	max-width: 1054px;
	margin: 0 auto;
}
.hd__text{
	font-size: 1.4rem;
	font-weight: bold;
}
/*-----------*/
/*Header*/
/*-----------*/
#hd{
	width: 100%;
	font-family: 'Simply Cricket Demi';
}
#hd section{
	width: 100%;
} 
/*-----------*/
/*Header Top*/
/*-----------*/
.hd__top, .hd__moreLinks{
	background: var(--background-secondary);
}
.hd__top .hd__wrapper,
.hd__main .hd__wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hd__top .hd__wrapper{
	align-items: center;
	font-weight: bold;
	height: 50px;
}
.hd__top-createAccount, .hd__moreLinks-link{
	color: var(--font-color-secondary);
	text-decoration: none;
	font-size: 1.3rem;
}
.hd__top-createAccount{
	display: flex;
	align-items: center;
	line-height: 50px;
	padding: 0 15px;
	position: relative;
	left: -15px;
}
.hd__top-createAccount i{
	margin-right: 5px;
}
.hd__moreLinks{
	display: flex;
	list-style: none;
	position: relative;
	right: -15px;
}
.hd__moreLinks-link{
	display: block;
	line-height: 50px;
	padding: 0 15px;
	background: transparent;
}
.hd__moreLinks-link:hover, .hd__top-createAccount:hover{
	background: var(--details-gray);
}
/*-----------*/
/*Header Main*/
/*-----------*/
#hd__btnMenu{
	display: none;
}
.hd__main{
	position: relative;
}
.hd__main .hd__wrapper{
	height: 90px;
}
#hd__logo{
	height: 41px;
  width: 183px;
  background: url(https://www.cricketwireless.com/uiassets/logo_cricket-green.png) 0 0 no-repeat;
  background-size: contain;
}
#hd__menu{
	display: flex;
	list-style: none
}
#hd__menu li{
	margin-left: 25px;
}
.hd__createAccount-main{
	display: none !important;
}
.hd__menu-link{
	text-decoration: none;
	color: var(--font-color-primary);
	font-size: 1.6rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.hd__menu-link i{
	margin-left: 5px;
	font-size: 2rem;
}
.hd__subMenu, #hd__moreLinks-main{
	display: none;
}
.hd__subMenu{
	background: var(--background-primary);
	list-style: none;
	font-family: "Simply Cricket Book";
}
.openSubMenu{
	color: var(--details-blue) !important;
}
.openSubMenu ~ .hd__subMenu{
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 100;
	height: 45px;
	border-top: 1px solid #dddddd;
}
.hd__subMenu li{
	margin: 0 10px;
}
.hd__subMenu-link{
	text-decoration: none;
	color: var(--font-color-primary);
	font-size: 1.6rem;
	font-weight: 300;
}
.hd__subMenu-link{
	text-decoration: none;
}
.hd__subMenu-link:hover{
	color: var(--details-blue);
}
/*-----------*/
/*Header Message*/
/*-----------*/
.hd__message{
	background: var(--details-green-dark);
}
.hd__message .hd__text{
	padding: 18px 0;
	text-align: center;
	color: var(--font-color-secondary) !important;
	line-height: .9rem;
}
.hd__message a{
	color: var(--font-color-secondary);
	line-height: .9rem;
}
.hd__message a:hover{
	text-decoration: none;
}
/*-----------*/
/*Header Categories*/
/*-----------*/
.hd__categories{
	background: var(--details-green-ligth);
}
.hd__categories .hd__wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	padding: 10px 0;
}
.hd__categories-item{
	background: var(--background-primary);
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 10px 15px;
	color: var(--details-blue);
	text-decoration: none;
	position: relative;
}
.hd__categories-item:hover{
	background: #eeeeee;
}
.hd__categories-item .hd__text{
	font-size: 1.5rem;
}
.hd__categories-item > img{
	margin-right: 5px;
}
.hd__categories-item  > i{
	position: absolute;
	right: 15px;
	font-size: 2rem;
}


@media screen and (max-width: 860px) {
	/*-----------*/
	/*Header Top*/
	/*-----------*/
	.hd__top{
		height: 10px;
	}
	.hd__top *{
		display: none;
	}
	/*-----------*/
	/*Header Main*/
	/*-----------*/
	#hd__logo{
		width: 145px;	 
	}
	#hd__btnMenu{
		display: block;
		font-size: 3.5rem;
	}
	#hd__menu{
		display: none;
		flex-flow: column;	
		position: absolute;
		z-index: 10000;
		top: 100%;
		right: 0;
		width: 250px;
		background: var(--details-gray);
		height: calc(100vh - 100%);
		border-top: 1px solid #dddddd;
		box-shadow: 0 12px 12px #000;
		transition: .3s;
		transition-property: width;
		overflow-y: scroll !important;
	}
	/*animations*/
	.openMenu{
		display: flex !important;
		transition: .9s !important;
	}
	.mask:before{
		content: '';
		position: absolute;
		z-index: 1000;
		top: 100%;
		left: 0;
		right: 0;
		height: calc(100vh - 100%);
		background: rgba(0, 0, 0, .5);
	}
	/*animations*/	
	#hd__menu > li{
		margin-left: 0;
		width: 250px;
	}
	.hd__createAccount-main{
		display: block !important;
	}
	.hd__createAccount-main span{
		display: block;
	}
	.hd__top-createAccount{
		background: #eeeeee;
		flex-flow: row-reverse;
		justify-content: space-between;
		left: 0;
		color: var(--details-blue); 
		border: 2px solid var(--details-blue); 
		border-radius: 5px;
		font-size: 1.6rem;
		white-space: nowrap;
		line-height: 2.5rem;
		padding: 16px 25px ;
	}
	.hd__top-createAccount i{
		margin-right: 0;
		font-size: 2.3rem;
	}
	.hd__top-createAccount:hover{
		background: #eeeeee;
	}
	.hd__menu-link{
		display: flex;
		position: relative;
		z-index: 20000;
		padding: 25px 25px 16px;
		justify-content: space-between;
		white-space: nowrap;		
		background: var(--background-primary);
	}
	.hd__menu-link i{
		transform: rotateZ(-90deg);
		transition: .6s;
	}
	.hd__menu-link-select{
		color: var(--details-blue);
	}
	.hd__menu-link-select i{
		transform: rotateZ(0);
	}
	#hd__moreLinks-main{
		display: block;
	}
	.hd__moreLinks{
		background: var(--details-gray);
		flex-flow: column;
		left: 0;
	}
	.hd__moreLinks li{
		margin-left: 0 !important;
	}
	.hd__moreLinks-link{
		font-size: 1.6rem;
    font-weight: bold;
    line-height: initial;
		white-space: nowrap;		
		padding: 25px 25px 16px;
    margin: 0;
	}
	.hd__subMenu{
		display: none;
		flex-flow: column;
		position: relative;
		top: 0;
		left: 0;
		padding: 0 !important;
		border-top: none;
		border-bottom: 1px solid #dddddd;
		transition: .6s;
	}
	/*animations*/
	.openSubMenu{
		display: flex !important;
	}
	/*animations*/
	.hd__subMenu li{
		margin-left: 0 !important;
	}
	.hd__subMenu-link{
		padding: 10px 25px;
		display: block;
	}
	/*-----------*/
	/*Header Message*/
	/*-----------*/
	.hd__message .hd__text{
		padding: 15px 0;
		font-size: 1rem;
	}
	/*-----------*/
	/*Header Categories*/
	/*-----------*/
	.hd__categories{
		background: var(--background-primary);
		box-shadow: 0 5px  5px #dddddd;
	}
	.hd__categories-item i{
		display: none;
	}
	.hd__categories-item{
		flex-flow: column;
		padding: 0;
	}
	.hd__categories-item .hd__text{
		margin-top: 3px;
	}
	.hd__text-hide{
		display: none;
	}
	.hd__categories-item > img{
		margin-right: 0;
		transform: scale(.8);
	}
	.hd__categories-item .hd__text{
		font-size: 1.3rem !important;
	}
	.hd__categories .hd__wrapper{
		padding: 10px 0;
	}

}
